FormEncode==1.2.4
Inflector==1.6
Jinja2==2.6
Mako==0.7.2
MarkupSafe==0.15
PyYAML==3.10
SQLAlchemy==0.7.9
Shimehari==0.1.10
Werkzeug==0.8.3
alembic==0.4.0
cssprefixer==1.4.1
cssutils==0.9.10b1
distribute==0.6.28
greenlet==0.4.0
gunicorn==0.15.0
meinheld==0.5.2
psycopg2==2.4.5
pyScss==1.1.4
-e git+git@github.com:matsumos/slimish-jinja2.git@754ac30247db8e26ac7ae3435d222543ca59e389#egg=slimish_jinja-dev
webassets==0.7.1
wsgiref==0.1.2
