body {
	padding-top: 70px;
}

footer {
	padding: 70px 0;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

.input-block {
	width: 100%;
	box-sizing: border-box;
	padding-right: 0;
	padding-left: 0;
}